<div class="col-md-6">
  <div class="well details_panel" style="margin-top:20px;">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= render partial: "auth_fields", locals:  { f: f } %>

        <div class="form-group row">
          <div class="col-md-6">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>