<div>
    <%= link_to "Accept Agreement", "/agreement", {class: "btn btn-primary", id: "register_account", remote: true} %>
    <p>By registering your account, you agree to our <a href="#tos-acceptance">Services Agreement</a>
     and the <a target="_blank" href="https://stripe.com/connect-account/legal">Stripe Connected Account Agreement</a>.</p>
</div>