<div id="bank_fld_err"></div>

<div class="well">
    <h3>Verify Bank details</h3>

    <div class="form-group row">
        <div class="col-md-6">
            <label for="country">Country</label>
            <input class="form-control" id="country" type="text" value=<%= current_user.country %> disabled>
        </div>
    </div>    
    <div class="form-group row">
        <div class="col-md-6">
            <label for="country">Currency</label>
            <input class="form-control" id="currency" type="text" value= "USD" >
        </div>
    </div>  
    <div class="form-group row">
        <div class="col-md-6">
            <label for="country">Routing Number</label>
            <input class="form-control" id="routing_number" type="text">
        </div>
    </div>  
    <div class="form-group row">
        <div class="col-md-6">
            <label for="country">Account Number</label>
            <input class="form-control" id="account_number" type="text">
        </div>
    </div>  
    <div class="form-group row">
        <div class="col-md-6">
            <label for="country">Account Holder Name</label>
            <input class="form-control" id="account_holder_name" type="text">
        </div>
    </div>  
    <div class="form-group row">
        <div class="col-md-6">
            <label for="acc_type">Account Holder Type </label>
            <select id="acc_type" name="account_type" style="width: 60%;">
                <option value="company">Company</option>
                <option value="individual">Individual</option>
            </select>
        </div>
    </div>  
    <%= link_to "Verify Account", "javascript:void(0);", {class: "btn btn-primary", id: "verify_account"} %>
</div>

<script>
  $("#verify_account").on("click", (e) => {      
        let account_details = ["country", "currency", "routing_number", 
                                "account_number", "account_holder_name", "acc_type"];
        verify_details(...account_details);
    });  
</script>