<h3 class="bg-header">
    <p class="title"> To complete your payment registration, please provide the following additional details </p>
 </h3>

<div id="bank_details" class="col-md-6">
    <%= render "bank_details_verification" %>   
</div>

<div id="additional_details" class="col-md-6" style="display:none;"> 
    <%= render "additional_details" %>
</div>

