<div class="details">
    <div class="jumbotron connect_to_stripe">
        <h3> You have successfully submitted all the documents. Now you are eligible to receive full payment. </h3>
    </div>    
</duv>