<p class="stripe_btn">
    <%= link_to "Stripe Payment Registration", "/create_account", {class: "btn btn-primary", id: "stripe_connect", remote: true} %>
</p>

<span class="stripe_result"></span>
<div class="required_info" style="display:none;"></div>