<p class="stripe_btn">
    <%= link_to "Stripe Payment Registration", "/create_account", {class: "btn btn-primary", id: "stripe_connect", remote: true} %>
</p>

<span class="stripe_result"></span>

<% display_flag =  @additional_fields_required.blank? ? "display:none;" : "display:block;" %>
<div class="required_info" style="<%= display_flag %>">
    <%= render 'required_info', locals: { additional_fields: @additional_fields_required } %>
</div>
