<h3 class="bg-header">
    <p class="title"> To complete your payment registration, please provide the following additional details </p>
</h3>

<div id="location_details" class="col-md-6" style="padding-top: 40px;">
    <%= render 'location_details' %>
</div>
<div id="proof_details" class="col-md-6" style="padding-top: 32px;">
    <%= render 'proof_verification' %>
</div>


