<h4 style="margin-left:16px;"> You are about to pay to <%= @user.full_name %> </h4>
<h3 class="bg-header"> To make the payment, verify your card details.</h3>

<div style="padding-top: 40px;">
    <%= render 'card_details' %>
</div>





