.stripe_btn{
    margin: 22px 0 7px 0;
}

.mand{
    font-size: 15px;
    color: rgb(241, 7, 7);
}

.location_result{
    width: (100% !important);
    margin-top: (10px !important);
}

.proof_result {
    width: 100% !important;
    margin-top: 10px !important;
}

.welcome{
    float: right;
    margin-top: 2px;
    font-weight: 15px;
}