.stripe_btn{
    margin: 22px 0 7px 0;
}

.mand{
    font-size: 15px;
    color: rgb(241, 7, 7);
}

.location_result{
    width: (100% !important);
    margin-top: (10px !important);
}

.proof_result {
    width: 100% !important;
    margin-top: 10px !important;
}

.welcome{
    float: right;
    margin-top: 2px;
    font-weight: 15px;
}

.jumbotron{
    background-color: rgb(147, 187, 87);
    margin-top: 30px;
}

.loader{
    height: 33px;
    width: 30px;
}

#agree_loader{   
    float: right;
    margin-right: 83%;
}

#create_acc_loader{
    float: right;
    margin-right: 79%;
}

h3,p {
    padding:0px 20px;
}

.bg-header{
    background: #dab825;
    color: white;
    height: 30px;
    border-radius: 4px;
    width: 97.5%;
    margin-left: 14px;
    text-align: center;
}

.title{
    margin-left: 45px;
}

#user_dob_1i{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 28px;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 112px;
    outline:none;
}


#user_dob_2i {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 28px;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
    outline:none;
}

#user_dob_3i {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 28px;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 107px;
    outline:none;
}

.legal_entity_type{
    width: 107px;
}

.proof{
    width: 75%;
}

.custom_dropdown{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 28px;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;    
    outline:none;
}

.additional_flds {
    min-height: 479px !important;
}

.logo{
    background-color: snow;
}

.main{
    background-color: cornsilk;
    height: auto;
    min-height: 885px;
}

.row{
height: 120%;
}

.panel-footer{
    background-color: #dcd5;
}

.header{
    background-color: #dcd5d5;
    margin-left: -16px;
    width: 103%;
}

.details{
    margin-top: 60px;
}

.details_panel{
    background-color: seashell;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.country_select{
    width: 70px;
    height: 28px;
    padding-top: 3px;
}

.user_type{
    width: 83px;
    height: 30px;
    padding-top: 3px;
}

.disclaim{
    font-size: 13px !important;
    color: slategray !important;
}

#register_account,#stripe_connect{
    margin-left: -21px; 
}

.navHeads{
    color: #c55e53;
}

._link{
    color: #00000082;
    text-decoration: underline;
}